.c0 {
    display: flex;
}
.TreeViewContainer {
    display: flex;
    flex:1;
}
.TVC {
    flex:10;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right-width: 5px;
    border-right-style: double;
}
.TreeView {
    flex : 1;
    height: 80vh;
    resize: horizontal;

    ul {
        color: blue;
        font-size: x-large;
        font-weight: bold;
    }
}
.c01 {
    flex : 5; 
}
