.c0 {
    display: flex;
}
.TreeViewContainer {
    display: flex;
    flex:2;
}
.TVC {
    flex:10;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right-width: 5px;
    border-right-style: double;
}
.TreeView {
    flex : 1;
    height: 80vh;
    resize: horizontal;

    ul {
        color: blue;
        font-size: x-large;
        font-weight: bold;
    }
}
.CodeViewContainer {
    flex : 5; 
    display: flex;
    justify-content: center;
}
.InspectViewContainer {
    display: flex;
    flex: 2;
}
.InspectViewContent {
    flex: 1;
    display: flex;
    flex-direction: column;

    .always {
        display: flex;
        justify-content: space-evenly;
        padding: 20px;

        border-bottom-width: 5px;
        border-bottom-style: double;
    }
    .dev {
        display: flex;
        justify-content: space-evenly;
        padding: 20px;

        border-bottom-width: 5px;
        border-bottom-style: double;
    }
    .current {
        .heading {
            display: flex;
        }
        .details {
            display: flex;
            flex-direction: column;
        }
    }
}
.IVC {
    flex:10;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-left-width: 5px;
    border-left-style: double;

    .button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      
      .button:hover {
        background-color: #45a049;
      }
      
      .button:active {
        background-color: #39803c;
      }
}
